.container {
    width: 1440px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items:  center;
    background-color:  #EF6464;
}

nav a {
    color: #000;
    text-decoration: none;
    padding: 1.5em;
}

nav li  {
    list-style: none;
}

nav ul {
    display: flex;
}

.hero {
    background: url(images/hero-image.jpg);
    height: 75vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.content-section {
    display: flex;
    align-items: center;
    gap: 1em;
}

.characters-title {
    background: #EF6464;
    text-align: center;
    padding: .5em;
}


footer {
    background: #7C2A89;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    text-align: center;
}


footer input {
    padding: .5em;
    margin: 5px 0;
}

footer button {
    padding: .5em;
    border: none;
}
